Repository michaeljones/breathe, pull requests merged in 2020-04, with the labels that each got.

#492 Add license file to distribution
  setup.cfg
Labels: enhancement

#491 Sphinx 3 update
  .github/workflows/unit_tests.yml
  .travis.yml
  breathe/renderer/sphinxrenderer.py
  documentation/Makefile
  documentation/source/autofile.rst
  documentation/source/autoindex.rst
  documentation/source/class.rst
  documentation/source/conf.py
  documentation/source/domains.rst
  documentation/source/doxygen.rst
  documentation/source/embeddedrst.rst
  documentation/source/enum.rst
  documentation/source/enumvalue.rst
  documentation/source/file.rst
  documentation/source/function.rst
  documentation/source/group.rst
  documentation/source/groups.rst
  documentation/source/index.rst
  documentation/source/inline.rst
  documentation/source/latexmath.rst
  documentation/source/lists.rst
  documentation/source/markups.rst
  documentation/source/members.rst
  documentation/source/namespace.rst
  documentation/source/specific.rst
  documentation/source/struct.rst
  documentation/source/template.rst
  documentation/source/tinyxml.rst
  documentation/source/typedef.rst
  documentation/source/union.rst
  documentation/source/variable.rst
  examples/specific/Makefile
  examples/specific/c_macro.cfg
  examples/specific/c_macro.h
  examples/specific/c_struct.cfg
  examples/specific/c_struct.h
  examples/specific/c_union.cfg
  examples/specific/c_union.h
  requirements/production.txt
  setup.py
  tests/test_renderer.py
Labels: analysis, code, documentation, test

#498 strictly depend on sphinx's minor version
  requirements/production.txt
  setup.py
Labels: analysis, enhancement

#503 Simplifications and fixes
  breathe/renderer/sphinxrenderer.py
  documentation/source/conf.py
  documentation/source/specific.rst
  examples/specific/Makefile
  examples/specific/cpp_anon.cfg
  examples/specific/cpp_anon.h
Labels: code, documentation

#501 Adding a section option to the doxygenfile directive
  breathe/directive/file.py
  breathe/renderer/sphinxrenderer.py
  documentation/source/file.rst
Labels: code, documentation, enhancement

#508 Fixed #507 - enums fully qualified names
  breathe/renderer/sphinxrenderer.py
Labels: code, enhancement

#506 Fixed creation of LaTeX math formulas (#502)
  breathe/renderer/sphinxrenderer.py
Labels: bug, code, regression

#509 Fix doc
  breathe/renderer/sphinxrenderer.py
  documentation/source/autofile.rst
  documentation/source/file.rst
Labels: documentation, enhancement
